.footer {
	padding: 80px 0;
	background: #181818;
	color: #ffffff;

	a {
		color: var(--text-white);
	}

	&__row {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: start;
		gap: 128px;
	}

	&__copyright {
		display: grid;
		gap: 24px;
		max-width: 300px;
	}

	&__logo {
	}

	&__text {
	}

	&__nav {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: start;
		gap: 40px;
	}
}
