.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 34px;

	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 24px;

		a {
			color: #181818;
		}

		a:hover,
		a.active {
			color: var(--accent);
		}

		@include mediaMobile {
			display: none;
		}
	}

	&__btns {
		display: flex;
		gap: 12px;

		@include mediaMobile {
			display: none;
		}
	}

	&__logo {
		flex-shrink: 0;
	}
}

.nav__icon {
	display: none;

	@include mediaMobile {
		display: block;
	}
}

.btn-signup {
	transition: opacity 0.2s ease-in;
	&:hover {
		opacity: 0.8;
	}
}
