.popular {
	padding: 60px 0;

	&__top {
		margin-bottom: 32px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 30px;

		@include mediaMobileS {
			flex-direction: column;
		}
	}

	&__title {
		display: grid;
		gap: 16px;

		@include mediaMobile {
			gap: 8px;
		}
	}

	&__controls {
		flex-shrink: 0;

		display: flex;
		gap: 15px;

		@include mediaMobileS {
			width: 100%;
			justify-content: space-between;
		}
	}

	&__slider {
	}

	&__item {
		width: 304px;
		display: grid;
		gap: 16px;

		img {
			border-radius: 12px;
		}
	}
}
